$background :#ECEFF1;

body{
  width:100%;
  height:100%;
  position:relative;
  margin: 0px;
  box-sizing:border-box;
}
#body{
  background-color: $background;
  min-width:960px;
  width:90vw;
  height:100vh;
  min-height: 768px;
  position:relative;
}
#keyPointDiv{
    position:fixed;
    width:90%;
    height:20px;
    border:1px solid black;
    display: block;
    margin: 0px auto;
    top: 38vh;
    .keyPoint{
      text-align: center;
      color:white;
      display:inline-block;
      width:20px;
      height:20px;
      border-radius: 50%;
      background-color: black;
      &:first-child{
        margin-left: 0px;
      }
      &.addBtn:hover{
        cursor: pointer;
        transform:scale(1.1);
      }
      .pointNameContainer{

      }
      .keyPoinNote{
        color: black;
        background-color: yellow;
        position: absolute;
        left: -10px;
      }
    }
}
#keyPointDiv .keyPoint.addBtn{
  position: absolute;
    right: -65px;
    top: -30px;
    width: 10%;
    background-color: transparent;
    img{
      width: 40%;
      margin-left: 96px;
    }
}
.keyPoinNote{
  z-index: 1;
  transform: rotate(-30deg);
  &.noteUp{
    top: -50px;
  }
  .pointName .nameInfo{
    position: absolute;
    top: 0;
    left: 0;
  }
  .pointName{
    display: none;
  }
}
.keyPoinNote.edit{
  z-index: 1000;
  transform: rotate(0deg);
  .pointName{
    display: block;
  }
}
.keyPoinNote.friends{
  opacity: 0.3;
  z-index: -100;
}
#centerLine{
      z-index: -1;
      background-color: green;
      width: 100%;
      height: 1vh;
      position:absolute;
      top:8px;
}
#sideMenu{
  width: 10vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  img:hover{
    transform: rotate(7deg) scale(1.1);
  }
}

#menu{
  position: absolute;
  right: 10%;
  top: 10px;
  height: 50px;
  background-color: red;
  img#newpost{
    cursor: pointer;
    position: fixed;
    top: 40px;
    width: 6%;
    right: 0;
    margin-right: 20px;
  }
}

.post{
  z-index: 1000;
  width: 12%;
  height: 65px;
  background-color: black;
  color: white;
  input,textarea{
    display: none;
  }
  .header{
    height: 23px;
    font-size:17px; 
    padding-left: 5px;
    background-color: blue;
  }
}
.post.edit{
    span.postbody{
      display: none;
    }
    input,textarea{
      display: block;
    }
}
#bin{
  width: 15%;
  height: 20vh;
  position: fixed;
  bottom: 5px;
  right: 5px;
  img{
    height: 75%;
    margin-left: 90px;
  }
}
#user{
  width: 90%;
  position: absolute;
  bottom: 22vh;
  right: 5%;
  img{
    width: 80%;
    border-radius: 50%;
  }
  input{
    font-size: 20px;
    line-height: 20px;
  }
}
.postImg{
  width: 25%;
  float: right;
}