.keyPoint(data-id='#{tagid}' style='position: absolute;left: #{left}')
  .keyPoinNote.noteUp( style='top: #{notePosition}') 
   span.nameInfo #{noteContent}
   input.pointName(type='text' autofocus)

