body {
  background-color: #ECEFF1; }

#keyPointDiv {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 20px;
  border: 1px solid black;
  display: block;
  margin: 0px auto;
  margin-top: 45vh; }
  #keyPointDiv .keyPoint {
    text-align: center;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-left: 5%; }
    #keyPointDiv .keyPoint:first-child {
      margin-left: 0px; }
    #keyPointDiv .keyPoint.addBtn:hover {
      cursor: pointer; }

#centerLine {
  background-color: green;
  width: 100%;
  height: 1vh;
  position: absolute;
  top: 46vh; }
